@font-face {
    font-family: 'Dual Sans';
    src: url('/fonts/DualSans-Regular.woff2') format('woff2'),
         url('/fonts/DualSans-Regular.woff') format('woff'),
         url('/fonts/DualSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-font{
    font-family: 'Dual Sans', sans-serif;
}

.navbar-container{
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.custom-navbar {
    background-color: rgb(37, 35, 35);
    padding-top: 1em;
    width: 90%;
    top: 0;
}

.custom-navbar .nav-link {
    padding: 0.5rem 1rem; 
    margin-left: 0.5em; 
    color: white;
}

.custom-navbar .nav-link:hover {
    color: #66ffff;
}

.center-flex{
    display: flex;
    justify-content: center; 
    align-items: center;  
    width: 100%;
}

.slider-container{
    display: flex;
    justify-content: center; 
    align-items: center;  
    width: 100%;
}

@media (max-width: 1000px) {
    .carousel-caption h3 {
      font-size: 15px;
    }

    
}

@media (max-width: 800px) {
    .carousel-caption{
      padding: 0px;
      height: 20%;
    }

    .carousel-caption h3 {
        translate: 0px -0.4em;
        font-size: 0.8em;
      }

    
}

@media (max-width: 650px) {
    .carousel-caption{
      padding: 0px;
      height: 20%;
    }

    .carousel-caption h3 {
        translate: 0px -0.9em;
        font-size: 0.7em;
      }   
}

.contact-form{
    width: auto;
}







